.footer {
  bottom: 0;
  width: 100%;
  font-weight: bold; /* Adjust styles for the title */
  font-family: "Sans Serif Collection", serif;
  //font-style: italic;
}

mat-toolbar{
  justify-content: center;
  font-size: 12px;
}
