<mat-toolbar>
  <span>About me</span>
</mat-toolbar>
<div class="image-quote">
  <mat-card>
    <mat-card-content>
      <img src="assets/me_in_the_dark.jpg" alt="me" class="image-me">
    </mat-card-content>
  </mat-card>
  <div class="quote">
    <p>"Teaching Computer Science isn't just about coding;<br>
      it's about unlocking creativity, problem-solving,
      and shaping the digital world of tomorrow."</p>
  </div>
</div>

<div class="school-work-desktop">

  <div class="experience">
    <div class="stepper">
      <div class="step">
        <div class="description left"></div>
        <div class="first-circle">
          <mat-icon>work</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Experience</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left"></div>
        <div class="circle">
          <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Java Developer</div>
          <div class="school">Endava</div>
          <div class="date">Jun 2022–now</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Developer Intern</div>
          <div class="school">Endava</div>
          <div class="date">Mar-Apr 2022</div>
        </div>
        <div class="circle"></div>
        <div class="description right"></div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left"></div>
        <div class="circle"></div>
        <div class="description right">
          <div class="title">Application Management Outsourcing Intern II</div>
          <div class="school">NTT DATA</div>
          <div class="date">Oct-Dec 2021</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Application Management Outsourcing Intern</div>
          <div class="school">NTT DATA</div>
          <div class="date">Jun-Aug 2021</div>
        </div>
        <div class="circle"></div>
        <div class="description right"></div>
      </div>
    </div>
  </div>

  <div class="experience">

    <div class="stepper">
      <div class="step">
        <div class="description left"></div>
        <div class="first-circle">
          <mat-icon>school</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Education</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left"></div>
        <div class="circle">
          <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Master in Computer Science</div>
          <div class="school">Babeș-Bolyai University</div>
          <div class="date">2022–2024</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Bachelor in Computer Science</div>
          <div class="school">Babeș-Bolyai University</div>
          <div class="date">2019–2022</div>
        </div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
        <div class="description right"></div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left"></div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
        <div class="description right">
          <div class="title">High School</div>
          <div class="school">"Joseph Haltrich" Theoretical High School, Sighisoara</div>
          <div class="date">2015–2019</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Primary school & Gymnasium</div>
          <div class="school">"Joseph Haltrich" Theoretical High School, Sighisoara</div>
          <div class="date">2007–2015</div>
        </div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
        <div class="description right"></div>
      </div>
    </div>
  </div>

</div>

<div class="school-work-mobile">
  <div class="experience">
    <div class="stepper">
      <div class="step">
        <div class="first-circle">
          <mat-icon>work</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Experience</div>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="step">
        <div class="circle">
          <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="description right">
          <div class="title">Java Developer</div>
          <div class="school">Endava</div>
          <div class="date">Jun 2022–now</div>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="step">
        <div class="circle"></div>
        <div class="description right">
          <div class="title">Developer Intern</div>
          <div class="school">Endava</div>
          <div class="date">Mar-Apr 2022</div>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="step">
        <div class="circle"></div>
        <div class="description right">
          <div class="title">Dev-Ops Intern</div>
          <div class="school">NTT DATA</div>
          <div class="date">Oct-Dec 2021</div>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="step">
        <div class="circle"></div>
        <div class="description right">
          <div class="title">Dev-Ops Intern</div>
          <div class="school">NTT DATA</div>
          <div class="date">Jun-Aug 2021</div>
        </div>
      </div>
    </div>
  </div>

  <div class="experience">
    <div class="stepper">
      <div class="step">
        <div class="description left">
          <div class="title">Education</div>
        </div>
        <div class="first-circle">
          <mat-icon>school</mat-icon>
        </div>
        <div class="line-right"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Master in Computer Science</div>
          <div class="school">Babeș-Bolyai University</div>
          <div class="date">2022–2024</div>
        </div>
        <div class="circle">
          <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="line-right"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Bachelor in Computer Science</div>
          <div class="school">Babeș-Bolyai University</div>
          <div class="date">2019–2022</div>
        </div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
        <div class="line-right"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">High School</div>
          <div class="school">"Joseph Haltrich" Theoretical High School, Sighisoara</div>
          <div class="date">2015–2019</div>
        </div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
        <div class="line-right"></div>
      </div>
      <div class="step">
        <div class="description left">
          <div class="title">Primary school & Gymnasium</div>
          <div class="school">"Joseph Haltrich" Theoretical High School, Sighisoara</div>
          <div class="date">2007–2015</div>
        </div>
        <div class="circle">
          <mat-icon>done</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="action-buttons">
  <mat-card class="card-action">
    <mat-card-actions class="links">
      <button mat-button (click)="redirect('https://github.com/monix8400')">
        <img ngSrc="assets/github.svg" alt="github-icon" height="20" width="20">
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card-action">
    <mat-card-actions class="links">
      <button mat-button (click)="redirect('https://www.linkedin.com/in/soaita-m-monica')">
        <img ngSrc="assets/linkedin-1.svg" alt="linkedIn-icon" height="20" width="20">
      </button>
    </mat-card-actions>
  </mat-card>
</div>
