<mat-toolbar>
  <span>Current Teaching</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <h1><a routerLink="." class="no-decoration">Current teaching</a></h1>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <h2><a routerLink="awd" class="no-decoration">Adaptive Web Design</a></h2>
    <mat-divider></mat-divider>
    <h2><a routerLink="wp" class="no-decoration">Web Programming</a></h2>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
