<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Adaptive Web Design

    </mat-card-title>
    <mat-card-subtitle>
      <p>Microsoft Teams code: <strong>xMknd1</strong></p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p></p>
    <button mat-raised-button color="accent" (click)="goTo('teaching/awd')">More</button>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Web Programming
    </mat-card-title>
    <mat-card-subtitle>
      <p>Microsoft Teams code: <strong>jjhfMD</strong></p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p></p>
    <button mat-raised-button color="accent" (click)="goTo('teaching/wp')">More</button>
  </mat-card-content>
</mat-card>
