<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Web Programming
    </mat-card-title>
    <mat-card-subtitle>
      <p>Microsoft Teams code: <strong>jjhfMD</strong></p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <div>
        <h1><strong>Structure</strong></h1>
        <p><strong>Course:</strong> 2h, every week.</p>
        <p>No minimum attendance required.</p>
        <p><strong>Laboratory:</strong> 2h, every week.</p>
        <p>Minimum 90% attendance required.</p>
        <p><i>For current timetable please check <a href="{{timetableLink}}">here</a>, the official faculty timetable!</i></p>
      </div>
      <div>
        <h1><strong>Grading</strong></h1>
        <p>Assignments for every Laboratory. As per <a href="{{syllabus}}">discipline sheet</a>.</p>
        <p>80% Lab + 20% Exam(Project)</p>
      </div>
    </div>
    <div>
      <h1><strong>Resources</strong></h1>
      <p><strong>Course:</strong> <a routerLink=".">1</a>, <a routerLink=".">2</a>, <a routerLink=".">3</a>, <a routerLink=".">4</a>, <a routerLink=".">5</a>,
        <a routerLink=".">6</a>, <a routerLink=".">7</a>, <a routerLink=".">8</a>, <a routerLink=".">9</a>, <a routerLink=".">10</a>, <a routerLink=".">11</a>,
        <a routerLink=".">12</a>, <a routerLink=".">13</a>, <a routerLink=".">14</a>.</p>
      <p><strong>Laboratory:</strong> <a routerLink=".">1</a>, <a routerLink=".">2</a>, <a routerLink=".">3</a>, <a routerLink=".">4</a>, <a routerLink=".">5</a>,
        <a routerLink=".">6</a>, <a routerLink=".">7</a>.</p>
    </div>
  </mat-card-content>
</mat-card>
