
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Adaptive Web Design
    </mat-card-title>
    <mat-card-subtitle>
      <p>Microsoft Teams code: <strong>xMknd1</strong></p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
      <div>
        <h1><strong>Structure</strong></h1>
        <p><strong>Course:</strong> 2h, every week</p>
        <p><strong>Seminar:</strong> 2h, once every 2 weeks</p>
        <p>No minimum attendance required.</p>
        <p><i>For current timetable please check <a href="{{timetableLink}}">here</a>, the official faculty timetable!</i></p>
      </div>
      <div>
        <h1><strong>Grading</strong></h1>
        <p>Project and different Assignments. As per <a href="{{syllabus}}">discipline sheet</a>.</p>
        <p>20% Assignments + 80% Project and Presentation</p>
      </div>
    </div>
    <div>
      <h1><strong>Resources</strong></h1>
      <p><strong>Course:</strong> <a routerLink=".">1</a>, <a routerLink=".">2</a>, <a routerLink=".">3</a>, <a routerLink=".">4</a>, <a routerLink=".">5</a>,
        <a routerLink=".">6</a>, <a routerLink=".">7</a>, <a routerLink=".">8</a>, <a routerLink=".">9</a>, <a routerLink=".">10</a>, <a routerLink=".">11</a>,
        <a routerLink=".">12</a>, <a routerLink=".">13</a>, <a routerLink=".">14</a>.</p>
      <p><strong>Seminar:</strong> <a routerLink=".">1</a>, <a routerLink=".">2</a>, <a routerLink=".">3</a>, <a routerLink=".">4</a>, <a routerLink=".">5</a>,
        <a routerLink=".">6</a>, <a routerLink=".">7</a>.</p>
    </div>
  </mat-card-content>
</mat-card>
