<div class="greetings">
  <p class="greeting-text-desktop">Hello!<br><br>
    I'm Monica<br><br>
    Software developer <br><br>
    and <br><br>
    Teaching Assistant <br><br>
    &#64; Babes Bolyai University</p>
  <p class="greeting-text-mobile">Hello!<br>
    I'm Monica<br>
    Software developer <br>
    and <br>
    Teaching Assistant <br>
    &#64; Babes-Bolyai University</p>
<img class="me-image" src="assets/random_pic_with_me.png" alt="me">
</div>
<div class="news">
  <img class="news-img" src="assets/news.png">
  <news class="news-info"></news>
</div>
